
@{
    ViewBag.Title = "adminlogin";
}

<div class="Alogin">
    <div class="Alogin-container">
        <h2>Admin Login</h2>
        <form action="member_dashboard.html" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
            <p><a href="#">Forgot Password?</a></p>
        </form>
    </div>
</div>

