@{
    ViewBag.Title = "Contact";
}
<div class="contactpg">
    <div class="hero">
        <div class="hero-text">
            <h1>Contact Us</h1>
            <p>We'd love to hear from you! Get in touch with us for any queries or support.</p>
            <form class="contact-form">
                <input type="text" placeholder=" Name" required>
                <input type="email" placeholder="Email" required>
                <textarea placeholder="Message" rows="4" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>

    <div class="contact-info">
        <div class="info-box">
            <i class="fas fa-map-marker-alt"></i>
            <h3>Our Address</h3>
            <p>
                Johar Town, Lahore, Pakistan

            </p>
        </div>
        <div class="info-box">
            <i class="fas fa-phone"></i>
            <h3>Call Us</h3>
            <p>+92 1234567</p>
        </div>
        <div class="info-box">
            <i class="fas fa-envelope"></i>
            <h3>Email Us</h3>
            <p>
                customer@sms

            </p>
        </div>
    </div>
</div>
