@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lifestyle";
}

<section class="society-gallery">
    <h2>Our Society Highlights</h2>
    <div class="gallery">
        <div class="gallery-item"><img src="image1.png" alt="Society Event 1"></div>
        <div class="gallery-item"><img src="image2.png" alt="Society Event 2"></div>
        <div class="gallery-item"><img src="image3.png" alt="Society Event 3"></div>
    </div>
</section>