@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Privacypolicy";
}

<div class="container">
    <h1>Privacy Policy</h1>


    <h2>Information We Collect</h2>
    <ul>
        <li>Personal details (name, contact information, etc.)</li>
        <li>Society-related records (house/unit number, maintenance dues, etc.)</li>
        <li>Communication history</li>
        <li>Transaction details for payments made through the system</li>
        <li>Visitor logs for security purposes</li>
    </ul>


</div>